DATABASE_URL = "postgresql://janedoe:mypassword@localhost:5432/mydb?scheme=public&connection_limit=5"
SECRET_TOKEN_KEY = "DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
DECRYPT_KEY = "DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE."
